<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ConsoleTester.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ConsoleWSTester.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CAdxWebServiceXmlCCSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://testcfg801win.sagefr.adinternal.com:28880/adxwsvc/services/CAdxWebServiceXmlCC"
                binding="basicHttpBinding" bindingConfiguration="CAdxWebServiceXmlCCSoapBinding"
                contract="CAWebService.CAdxWebServiceXmlCC" name="CAdxWebServiceXmlCC" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="Application.UrlUpdateInformation" value="\\ayvindusv7\Hotfixes_platform\WsTester\update.json" />
  </appSettings>
    <userSettings>
        <ConsoleTester.Settings>
            <setting name="Filter" serializeAs="String">
                <value>*.log</value>
            </setting>
            <setting name="XmlFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="SubFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnZipFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFormWidth" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="MainFormHeight" serializeAs="String">
                <value>800</value>
            </setting>
        </ConsoleTester.Settings>
        <ConsoleWSTester.Settings>
            <setting name="PoolAlias" serializeAs="String">
                <value/>
            </setting>
            <setting name="Host" serializeAs="String">
                <value/>
            </setting>
            <setting name="Language" serializeAs="String">
                <value/>
            </setting>
            <setting name="PublicName" serializeAs="String">
                <value/>
            </setting>
            <setting name="XmlFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="OperationMode" serializeAs="String">
                <value/>
            </setting>
            <setting name="XmlFilename" serializeAs="String">
                <value/>
            </setting>
            <setting name="RequestConfiguration" serializeAs="String">
                <value/>
            </setting>
            <setting name="Key0" serializeAs="String">
                <value/>
            </setting>
            <setting name="Value0" serializeAs="String">
                <value/>
            </setting>
        </ConsoleWSTester.Settings>
        
    </userSettings>
</configuration>
