<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleWSTester.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ConsoleApp2.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CAdxWebServiceXmlCCSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8126/soap-generic/syracuse/collaboration/syracuse/CAdxWebServiceXmlCC"
                binding="basicHttpBinding" bindingConfiguration="CAdxWebServiceXmlCCSoapBinding"
                contract="CAWebService.CAdxWebServiceXmlCC" name="CAdxWebServiceXmlCC" />
        </client>
    </system.serviceModel>
    <userSettings>
        <ConsoleWSTester.Settings>
            <setting name="PoolAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="PublicName" serializeAs="String">
                <value />
            </setting>
            <setting name="XmlFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationMode" serializeAs="String">
                <value />
            </setting>
            <setting name="XmlFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="RequestConfiguration" serializeAs="String">
                <value />
            </setting>
            <setting name="Key0" serializeAs="String">
                <value />
            </setting>
            <setting name="Value0" serializeAs="String">
                <value />
            </setting>
        </ConsoleWSTester.Settings>
        <ConsoleApp2.Settings1>
            <setting name="PoolAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="PublicName" serializeAs="String">
                <value />
            </setting>
            <setting name="XmlFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationMode" serializeAs="String">
                <value />
            </setting>
        </ConsoleApp2.Settings1>
    </userSettings>
</configuration>