<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="..\Packages" />

  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />

  </solution>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <packageSources>
    <add key="nuget.org Official package source" value="https://nuget.org/api/v2/"/>
    <add key="NuGet SageFR" value="http://nuget.sagefr.adinternal.com/api/v2" />
  </packageSources>
</configuration>