<?xml version="1.0" encoding="UTF-8"?>
<?define ProductName = "WSTester"?>
<?define ProductVersion = "0.99.99.99"?>
<?define ProductUpgradeCode = "20B0F970-A481-453C-0A82-011ED11C9A00"?>
<?define Manufacturer = "SAGE"?>
<?define About = "http://www.sage.com"?>
<?define ExeName = "ConsoleTester.exe"?>
<?define MyBinSource = "Release"?>
<?define LicenseRtf = "License.rtf"?>
<?define ProgramFilesFolder = "ProgramFilesFolder" ?>


<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Product Id="*" UpgradeCode="$(var.ProductUpgradeCode)" Name="$(var.ProductName)" Language="1033" Manufacturer="$(var.Manufacturer)" Version="$(var.ProductVersion)">
		<Icon Id="ProductIcon" SourceFile=".\WSTester.ico"/>
		<Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
		<Property Id="ARPURLINFOABOUT" Value="$(var.About)"/>
		<Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />

		<Media Id="1" Cabinet="WSTester.cab" EmbedCab="yes" />

		<Upgrade Id="$(var.ProductUpgradeCode)">
			<UpgradeVersion IncludeMinimum="yes" OnlyDetect="no" Maximum="$(var.ProductVersion)" IncludeMaximum="no" Property="PREVIOUSFOUND" />
		</Upgrade>
		<!-- <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallInitialize" /> -->

		<Package InstallerVersion="200" Manufacturer="$(var.Manufacturer)" Compressed="yes" InstallScope="perMachine" Comments="Windows Installer Package" />

		<SetDirectory Action="SetInstallDir" Id="INSTALLDIR" Value="[$(var.ProgramFilesFolder)]$(var.Manufacturer)\$(var.ProductName)\">INSTALLDIR=""</SetDirectory>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="MySoftware" Name="MySoftware">
					<Directory Id="INSTALLDIR" Name="$(var.ProductName)">
						<Directory Id="Release" Name="Release" />
					</Directory>
				</Directory>
			</Directory>

			<Directory Id="ProgramMenuFolder">
				<Directory Id="ProgramMenuSubfolder" Name="Sage">
					<Component Id="ApplicationShortcuts" Guid="*">
						<Shortcut Id="ApplicationShortcut1" Name="WSTester" Description="Sage WSTester" Target="[INSTALLDIR]Release\ConsoleTester.exe" WorkingDirectory="INSTALLDIR"/>
						<RegistryValue Root="HKCU" Key="Software\Sage\WSTester" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
						<!-- RemoveFolder install, uninstall, both -->
						<RemoveFolder Id="ProgramMenuSubfolder" On="both"/>
						<RemoveFolder Id="Release" Directory="Release" On="both"/>
					</Component>
				</Directory>
			</Directory>
		</Directory>


		<Feature Id="MainApplication" Title="Main Application" Level="1">
			<ComponentGroupRef Id="WSTesterHeat"/>
			<ComponentRef Id="ApplicationShortcuts"/>
		</Feature>

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
		<WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="$(var.LicenseRtf)"/>
		<UIRef Id="WixUI_InstallDir" />
		<UIRef Id="WixUI_ErrorProgressText" />

		<InstallExecuteSequence>
			<RemoveExistingProducts After="InstallInitialize" />
		</InstallExecuteSequence>
	</Product>

</Wix>
